<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/2758a332-791d-469f-88c6-552a50070bec/resourceGroups/WebAPI-Projects/providers/Microsoft.Web/sites/AttendancePro</ResourceId>
    <ResourceGroup>WebAPI-Projects</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://attendancepro.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>90c6e498-8bf9-40b3-9955-af8ba912a486</ProjectGuid>
    <PublishUrl>https://attendancepro.scm.azurewebsites.net/</PublishUrl>
    <UserName>$AttendancePro</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>